body {
  font-family: 'Poppins';
}
.header {
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.main {
  text-align: center;
  font-size: 14px;
}
.head {
  font-size: 24px;
}
.paragraph {
  font-size: 12px;
}
.smallhr {
  width: 8%;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  min-width: 50px;
}
.selection {
  width: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  aspect-ratio: 1;
  border: 2px solid black;
  border-radius: 10px;
}
.picker {
  font-family: 'Poppins';
  text-align: center;
}
.head {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
}
.policylist {
  height: 100px;
  width: 90%;
  min-width: 300px;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  color: black; 
}
.policytitles {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.policylist:hover {
  transform: scale(1.01);
}