body {
  font-family: 'Poppins';
}
.header {
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
}
.main {
  text-align: center;
  font-size: 14px;
}
.head {
  font-size: 24px;
}
.paragraph {
  font-size: 12px;
}
.smallhr {
  width: 8%;
  height: 2px;
  background-color: black;
  border: 1px solid black;
  min-width: 50px;
}
.selection {
  width: 30%;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  gap: 50px;
  aspect-ratio: 1;
  border: 2px solid black;
  border-radius: 10px;
}
.picker {
  font-family: 'Poppins';
  text-align: center;
}
.head {
  font-size: 30px;
  font-weight: bolder;
  text-decoration: underline;
}
.policylist {
  height: 100px;
  width: 90%;
  min-width: 300px;
  border: 2px solid black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
  color: black; 
}
.policytitles {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.policylist:hover {
  transform: scale(1.01);
}
.section {
  font-family: 'Poppins';
  width: 80vw;
  margin: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #ebedeb;
  padding: 10px;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.content-head {
  font-weight: 700;
  text-decoration: underline;
  margin: 0;
}
.content-paragraph {
  font-size: 14px;
  margin: 0;
}
.content-list {
  font-size: 14px;
}
.policy-title {
  width: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#gohomeword {
  white-space: nowrap;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-orientation: mixed;
  margin: 0
}
#gohome {
  width: 100px;
  border: 2px solid black;
  height: 75px;
  position: fixed;
  top: 25px;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background-color: white;
  cursor: pointer;
  z-index: 99999;
  display: flex;
  left: -25px;
  transform: translate(0, 0);
  transition: 0.15s;
}
#words-home {
  width: 25px;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 75px;
  font-size: 12px;
}
#gohomeright {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#words-home {
  width: 25px;
  height: 75px;
}
#homeimg {
  width: 70px;
}
#gohome:hover{
  transform: translate(25px, 0);
  transition: 0.15s;
}